<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CSS_Grid_Practice</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
     <link rel="stylesheet" href="~/css/cssgridlayout.css" />
</head>
<body>
    <header class="containerIndex">
        
<div class="navbar">
  <a asp-area="" asp-page="/Index" >CSS_Grid_Practice</a>
  <a asp-area="" asp-page="/Index" >Home</a>
  <a href="#">Link</a>
  <a  asp-area="" asp-page="/Privacy" class="right">Privacy</a>
</div>       
    </header>   
</div>


    <div class="item item1 sidebar">sidebar</div>
    <div class="item item1 content-1">content-1 
         <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
        
    </div>
    </div>
    <div class="item item1 content-2">content-2</div>
    <div class="item item1 content-3">content-3</div>

    <div class="item item1 footer1">footer
            &copy; 2020 - CSS_Grid_Practice - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
